<!doctype html>
<html>
    <head>
        <title>Create Account Page</title>
        {% include "imports.html" %}
    </head>
    <body>
        <div class="container">
         </div>
            <h1>Welcome! Create Account Here</h1>
            <form method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br>
                
              </form>
        
    
    </div>
    <button class="btn btn-primary" onclick="location.href='/'">Create Account</button>
    <br>
    <br>
    </div>
    <a href="/login">If account has already been made, please log in here.</a>
    </body>
</html>