<!doctype html>
<html>
    <head>
        <title>Create Account Page</title>
    </head>
    <body>
        <h1>Welcome! Create Account Here</h1>
        <form method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
            <button><a href="/">Create Account</a></button>
        </form>
        <a href="/login">If account has already been made, please log in here.</a>
    </body>
</html>