<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {% include "imports.html" %}
  </head>
  <body>
    <div class="container">
    <h1>Welcome to {{ name }}!</h1>
    <form method="get" action="{{ url_for('search') }}">
      <input type="text" name="query" placeholder="Search...">
      <button type="submit">Go</button>
    </form>
    <form method="GET" action="{{ url_for('filter_by_date') }}">
      <label for="start_date">Start date:</label>
      <input type="date" id="start_date" name="start_date" required>
    
      <label for="end_date">End date:</label>
      <input type="date" id="end_date" name="end_date" required>
    
      <input type="submit" value="Filter">
    </form>
    <h1>
      events 
    </h1>
    {% for event in events_list %}
      <div class="container" style="background-color: #0077B6; padding: 20px; border-radius: 10px; color: white;">
      <p>Name: <strong>{{ event.name }}</strong></p>
      <p>Location: <strong>{{ event.loc }}</strong></p>
      <p>Date: <strong>{{ event.date }}</strong></p>
      <p>{{ event.type }}</p>
      <p>{{ event.time }}</p>
      <p>{{ event.host }}</p>
      </div>
      <br>
    {% endfor %}
    </div>
    <br>
    <button onclick="location.href='{{ url_for('index') }}'">Back to Home</button>
    <br>
  </body>
</html>