<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Please login</h1>
    <form method="POST" action="/login">
        <label>Username:</label>
        <input type="text" name="username"><br><br>
        <label>Password:</label>
        <input type="text" name="password"><br><br>
        <!-- <input type="submit" value="Submit"> -->
        <button><a href="/">Submit</a></button>
          </form>
    </form>

    <a href="/create_account">If you have not made an account. Please click here</a>
    
</body>
</html>